@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap");
pre,
code {
  line-height: 2 !important;
}

html,
body {
  font-family: "DM Sans", sans-serif;
}
